body{background-image: url(https://media.henriquetourinho.com.br/unnamed.jpg);margin:0;padding:0;color: #17171d;text-align:justify;font-family:ubuntu;font-size:17px;}


#menu ul li{display:inline}

#menu ul li a {padding: 1px;display: inline-block;color: #fafafa;text-decoration: none;border-bottom: 0 solid #f7f7f7;}

#menu ul li a:hover{color:#0060ef}

#menu ul {text-align: center;font-weight: 700;text-transform: uppercase;max-width: 100%;height: auto;box-shadow: 0px 5px 5px #17171d;font-size: 14px;padding: 7px;margin: 0;background: #17171d;list-style: none;}



#timeline, #linha-do-tempo, #publicacao {margin-left:auto;margin-right:auto;margin-top:0em;-webkit-border-radius: 5px;max-width:800px;min-width:10px;}




a{text-decoration:none;color: #17171d;}

a:hover{text-decoration:none;color:#0060ef}

a.continuar-lendo {text-decoration: none;padding: 2px 5px;margin-left: 7%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #17171d;background: #fafafa;text-transform: uppercase;}

a.continuar-lendo:hover{text-decoration: none;padding: 2px 5px;margin-left: 7%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #fafafa;background: #0060ef;text-transform: uppercase;box-shadow: 0 0 1em #0060ef;}



p, span, time, hora, descricao, description, audio{margin-right: 7%;margin-left: 7%;font-size:17px;}

h1, h2, h3, h4, h5, legend {text-align: left;margin-right: 7%;margin-left: 7%;font-weight: 700;font-size: 18px;text-transform: uppercase;}




.links {height:40px;position:fixed;bottom:1%;left:1%;z-index:1000}

#direitos-autorais {clear:both;text-align: right;font-weight:700;background-image: linear-gradient(to right,#17171d,#20202c,#000000);font-size:12px;padding: 20px 0px;color: #fff;}


@media only screen and (max-width: 600px) {


a.continuar-lendo:hover{
  text-decoration: 
  none;padding:2px5px;
  margin-left: 5%;
  -webkit-border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fafafa;
  background: #0060ef;
  text-transform: uppercase;
    box-shadow: 0 0 1em #0060ef;}

    a.continuar-lendo {
    padding: 2px 5px;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;}
  }


#capa,#capa>img{width:100%} video{width: 100%;-webkit-border-radius: 10px;height:auto;box-shadow: 0 0 1em #17171d;}

#titulo {font-weight: 700;text-align: center;font-size: 35px;padding: 5px;color: #0060ef;background-color: #fafafa;}



.logo{max-width:15%;display:block;margin-left:auto;margin-right:auto}

#logo ul{max-width:100%;height:auto;padding:0;margin:0;background-image: linear-gradient(to right,#17171d,#000,#17171d);background-size: cover;background-attachment: fixed;}





#artigo>img {width: 86%;color:#fff;display: block;margin-left: auto;margin-right: auto;filter: blur(5px);-webkit-filter: blur(1px);text-align: center;-webkit-border-radius: 10px;height: auto;box-shadow: 0 0 1em #17171d;}




@media only screen and (max-width: 600px) {

p, time, description, audio{margin-right: 5%;margin-left: 5%;font-size:17px;}
h1, h2, h3, h4, h5, legend {text-align: left;margin-right: 5%;margin-left:5%;font-weight: 700;font-size: 18px;text-transform: uppercase;}
a.continuar-lendo:hover{
  text-decoration: 
  none;padding:2px5px;
  margin-left: 5%;
  -webkit-border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fafafa;
  background: #0060ef;
  text-transform: uppercase;
    box-shadow: 0 0 1em #0060ef;}

    a.continuar-lendo {
    padding: 2px 5px;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;}
    .logo{max-width:27%;display:block;margin-left:auto;margin-right:auto}





#logo ul{max-width:100%;height:auto;padding:0;margin:0;background-image: linear-gradient(to right,#17171d,#000,#17171d);;background-size: cover;background-attachment: fixed;}


}
.container {
  position: relative;
  text-align: center;
  color: white;

}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin-left: 7%;
  color: #17171d;
  font-size: 10px;
  background: #f1f5f8;
  -webkit-border-radius: 5px;
  padding: 2px 5px;
  font-weight: 700;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
     margin-left: 7%;
         font-size: 12px;
         background: #17171d;
             -webkit-border-radius: 5px;
             padding: 2px 5px;
             font-weight: 700;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  color: #17171d;
  background: #f1f5f8;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  font-weight: 700;
}















































































#modal {margin-left:auto;margin-right:auto;margin-top:0em;;max-width:800px;min-width:10px;background: #17171d;-webkit-border-radius: 7px;padding: 1em 3px 30px 5px; color: #fff;    margin: .5em 0; }


#fechamento {margin-left:auto;margin-right:auto;margin-top:0em;;max-width:800px;min-width:10px;background: #ff0000;-webkit-border-radius: 7px;padding: 1em 3px 30px 5px; color: #fff;    margin: .5em 0; }



















